#woocommerce-product-data ul.product_data_tabs li a.html5_video{
   background: url(../images/icon_video.png) no-repeat 5px 3px transparent;
   line-height:16px;
   padding:5px 5px 5px 28px;
   text-shadow:0 1px 1px #FFFFFF;
}
textarea#_tab_video, textarea#_tab_video_html5{
   height: 100px;
   width: 80%;
}
.woocommerce_options_panel input.radio{
   width: auto;
}
.woocommerce_options_panel label.radio{
   font-weight: bold;
   line-height: 15px;
   padding-left: 8px;
}
.woocommerce_options_panel label.check{
   line-height: 25px;
   padding-left: 8px;
   width: 70px;
}
#video_tab legend{
   display: block;
   font-style: italic;
   margin-top: 7px;
   width: 100%;
}
p.form-field._tab_video_field{
   margin-bottom: 0px;
}
.woocommerce_options_panel .options_group{
   padding-top: 5px;
}
div#video_tab{
   padding-bottom: 15px;
}
/*DL, DT, DD TAGS LIST DATA*/
dl {
    float: left;
    margin-bottom:10px;
    margin-top: 0px;
    width: 100%;
}
dl dt {
    float:left;
    padding:5px 0px;

}
dl dd {
    margin:2px 0;
    padding:5px 0;
}
dt{
   width: 16%;
}
dd{
   width: 83%;
   float: left;
}
