/*#woocommerce-product-data ul.product_data_tabs li a.html5_video:before{
   background: url(../images/icon_video.png) no-repeat 5px 3px transparent;
   line-height:16px;
   padding:5px 5px 5px 28px;
   text-shadow:0 1px 1px #FFFFFF;
    .icon("\e013");
}*/
.woocommerce_options_panel textarea.html5_video, textarea#_tab_video_html5{
   height: 80px;
   width: 80%;
}
.woocommerce_options_panel input.radio{
   width: auto;
}
.woocommerce_options_panel label.radio{
   font-weight: bold;
   line-height: 15px;
   padding-left: 8px;
   margin-bottom: 10px;
}
.woocommerce_options_panel label.check{
   line-height: 25px;
   padding-left: 8px;
   width: 70px;
}
#video_tab legend{
   display: block;
   font-style: italic;
   margin-top: 10px;
   width: 100%;
}
p.form-field._tab_video_field{
   margin-bottom: 0px;
}
.woocommerce_options_panel .options_group{
   padding-top: 10px;
   float: left;
   width: 100%;
}
div#video_tab{
   padding: 0 5px 15px 0;
}
div#video_tab > div{
  box-sizing: border-box;
  padding-left: 10px;
}
.plugin-copyright {
   font-size: 10px;
   color: #CCC;
}
a.remove_video{
   background: url('../images/delete_icon.png') no-repeat;
   height: 22px;
   width: 22px;
   float: left;
   margin-left: 10px;
   text-indent: 999px;
}
a#clone_video{
   padding-left: 12px;
}
/*DL, DT, DD TAGS LIST DATA*/
#video_tab dl {
    float: left;
    margin-bottom:10px;
    margin-top: 0px;
    width: 100%;
}
#video_tab dl dt {
    float:left;
    padding:5px 0px;

}
#video_tab dl dd {
    margin:2px 0;
    padding:5px 0;
}
#video_tab dt{
   width: 16%;
}
#video_tab dd{
   width: 83%;
   float: left;
}
#video_tab textarea{
  clear: both;
  float: left;
}
#video_tab dl dt input.checkbox{
  margin: 5px 0px 0px 0px;
}
.about-webilop {
   float: right;
   width: 100%;
   border: 1px solid #CCC;
   padding: 0px 7px 7px;
   background: #f5f5f5;
   border-radius: 4px;
}

table#wo_di_table_videos_html tbody tr {
  background-color: #ffffff;
}

table#wo_di_table_videos_html tbody tr:nth-child(2n+1) {
  background-color: #f9f9f9;
}

table#wo_di_table_videos_html .action-button {
  cursor: pointer
}

table#wo_di_table_videos_html .sort-button {
  cursor: move;
}

form.html5_video{
   float: left;
}

.options_group {
  margin: 20px 0;
}

.options_group > input.radio{
  margin: 0 0 0 5px;
}

.video-option {
  margin: 20px 0;
}

.wo_di_form_input{
  width: 436px;
}

.dimension-input {
  width: 180px;
  margin-left: 11px;
}

.wo_di_form_textarea{
  width: 450px;
  height: 150px;
}

.wo_di_table_videos{
 width: 100%;
}

.error{
  color: red;
}
.margin-bottom{
  margin-bottom: 10px;
}

.float-right{
  float: left;
}

.rate-div {
   float: right;
   width: 100%;
   border: 1px solid #CCC;
   padding: 0px 7px 7px;
   background: #f5f5f5;
   border-radius: 4px;
}

.rate-about-table{
    width: 28%;
    float: right;
}

/*.rating{
  overflow: hidden;
  display: inline-block;
}*/

.rating-input{
  position: absolute;
  left: 0;
  top: -50px;
}

.rating-star{
  display: block;
  float: right;
  width: 16px;
  height: 16px;
  background: url('../images/star.png') 0 0px;
}

/*.rating-star:hover,
.rating-star:hover ~ .rating-star {
    background-position: 0 0;
}*/

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?rpefh2');
  src:url('../fonts/icomoon.eot?#iefixrpefh2') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rpefh2') format('truetype'),
    url('../fonts/icomoon.woff?rpefh2') format('woff'),
    url('../fonts/icomoon.svg?rpefh2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e600";
}

#woocommerce-product-data ul.product_data_tabs li.html5_video a:before{content:"\e600"; font-family: 'icomoon'}
/*#woocommerce-product-data ul.product_data_tabs li.html5_video a:before{content:none;}*/

.ui-icon{
 cursor: pointer;
}

.wohv-description-container .wohv-title{
  margin: 0;
}
.wohv-description-container .wohv-description{
  margin-bottom: 15px;
  padding: 0;
}
#button_add_video{
  margin-top: 10px;
}
#contenedor_video{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
#span_errors{
  color: red;
  font-weight: bold;
}
